body {

    background: #c0c0c0;
    background-attachment: fixed;
}


.content {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 1021px;
    margin: auto;
    background: #FFFFFF;
}


img {
    border: 1px solid black;
    width: 1021px;
    margin: auto;
}
h1 {
    text-align:center;
    font: sans-serif;
}
ul{
    list-style:none; /* Убираем маркер списка */
    background:#b6a83a; /* Задаём цвет фона меню или списка */
    width: 992px; /* Ширина блока меню */
    padding:0.9em; /* Отступы внутри блока меню */
    height:3em; /* Задаём высоту блока меню */
    margin: auto;/*Выравниваем меню по центру */



}
li{
    display:inline-block; /* Определяем вид показа элемента в документе   */
    width:20%; /* Ширина пункта меню */
    margin:0.3em; /* задаём значение полей вокруг пункта меню */
    padding:0.9em; /* Задаём отступы внутри пункта меню */
    background:#bf6f39; /* Цвет фона пункта меню */

}
li ul{
    width:65%; /* Ширина блока выпадающего меню*/
    display:none; /* Определяем вид показа элемента в документе */
    background:#bf6f39; /* Цвет фона выпадающего меню */
}
li ul li{
    display:block; /* Определяем вид показа элемента в документе */
    float:left; /* Задаём положение пункта меню */
    position:relative; /* Определяем новую позицию для пункта выпадающего меню */
    right:0.9em; /* Сдвигаем пункт меню влево */
    width:100%; /* Ширина пункта меню */
    margin:0; /* задаём значение полей вокруг пункта меню */
    padding:0.7em; /* Задаём отступы внутри пункта меню */
    background:#bf6f39; /* Цвет фона пункта меню */
}

li:hover ul{
    display:block; /* Определяем вид показа элемента в документе */
}
li a{
    text-decoration:none; /* Убираем нижнее подчеркивание у ссылок */
    color:#000000; /* Цвет текста ссылки в меню color:#b6a83a; /* Цвет ссылки */
    cursor:pointer; /* Устанавливаем вид курсора при выделении пункта меню */
}

.footer {
    background: #b6a83a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 1021px; /* Ширина слоя */
    height: 40px;
}
P.fig {
    text-align: center; /* Выравнивание по центру */
}
P.fig1 {
    text-align: center; /* Выравнивание по центру */
}